* {
  margin: 0;
  padding: 0;
}

/* style for sec-1 / header */

body,
.header,
.nav, 
.header-body,
.links {
  display: flex;
}

body,
.header {
  box-sizing: border-box;
  flex-direction: column;
}

body {
  height: 100vh;
  font-family: Roboto, "Times New Roman", sans-serif;
  gap: 5%;
}

.header-body,
.nav {
  justify-content: space-between;
}

.header {
  background-color: #1f2937;
  padding: 16px 20% 5%;
}

.nav {
  padding-bottom: 64px;
}

.header-text {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.links {
  font-size: 18px;
  color: #e5e7eb;
  gap: 16px;
}

.text {
  font-size: 48px;
  font-weight: bold;
  color:#f9faf8;
}

.header-body {
  width: 100%;
  gap: 48px;
  align-items: center;
}

p {
  color: #e5e7eb;
  font-size: 18px;
  margin: 8px 0px;
}

.button-one {
  padding: 8px;
  border-radius: 6px;
  color: white;
  background-color: #3882f6;
}

.body,
.resize {
  flex: 1;
  min-width: 0;
}

.resize {
  width: 100px;
  height: auto;
}

/* style for sec-2 / info */

.info,
.info-images,
.info-img {
  display:flex;
}

.info,
.info-img {
  flex-direction: column;
}

.info {
  align-items: center;
  padding: 0px 25% 5%;
  gap: 50px;
  box-sizing: border-box;
}

.info-header {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  margin-top: 50px;
}

.info-images {
  width: 100%;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
}

.info-img {
  display: flex;
  flex: 1;
  min-width: 100px;
  width:100px;
  height: auto;
}

.img-text {
  text-align:center;
}

/* style for sec-3 / quote */
.sec-3 {
  display: flex;
  flex-direction: column;
  padding: 5% 25%;
  background-color: #e5e7eb;
}
.quote,
.author {
  font-size: 36px;
}

.quote {
  font-style: italic;
  font-weight: lighter;
}

.author {
  align-self:flex-end;
  font-weight: bold;
}

/* Style for section 4 (sign up) */
.sec-4 {
  display: flex;
  margin: 5% 20%;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 40px 7%;
  align-items: center;
  gap: 20px;
}

.button-two {
  font-weight: bold;
  border-style:solid;
  border-color: white;
  background-color:#3882f6;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 24px;
  font-size: 16px;
}

/* style for footer */

.footer {
  display: flex;
  background-color: #1f2937;
  padding: 2.5% 0px;
  justify-content: center;
  align-items: center;
}